{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
{#    <link rel="stylesheet" href="{% static 'rlsget/css/details.css' %}">#}
{#    <script src="{% static 'rlsget/js/queue.js' %}"></script>#}
{% endblock %}

{#{% block ng-app %}rlscloud{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ release.name }} <span class="detail-type">({% trans 'release' %})</span></h3>
        </div>
        <div class="col-lg-12">
            {% trans 'MD5:' %}<span id="md5" class="monospace">{{ release.file_hash }}</span>
            <a href="{{ release.file.url }}">{% trans 'Download' %}</a>
        </div>
    </div>
{% endblock %}
