{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
{#    <link rel="stylesheet" href="{% static 'rlsget/css/queue.css' %}">#}
{#    <script src="{% static 'rlsget/js/queue.js' %}"></script>#}
{% endblock %}

{#{% block ng-app %}rlscloud{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ release.name }}</h3>
        </div>
        <div class="col-lg-12">
            {{ release.mime_type }}
        </div>
    </div>
{% endblock %}
