{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <script src="{% static 'rls/js/latest.js' %}"></script>
{% endblock %}

{% block ng-app %}rlscloud.rls.latest{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% for rls in releases %}
                <thumbnail url="{% url 'rls:details' rls.id %}" image="{{ rls.thumbnail.url }}" width="{{ thumbnail_width }}" height="{{ thumbnail_height }}" frames="{{ thumbnail_count }}"></thumbnail>
            {% endfor %}
        </div>
    </div>
{% endblock %}
