{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'rls/css/upload.css' %}">
    <script src="{% static 'rls/js/upload.js' %}"></script>
{% endblock %}

{% block ng-app %}rlscloud.rls.upload{% endblock %}

{% block content %}
    <div class="row" ng-controller="Upload as ctrl">
        <div class="col-lg-12">
            <form id="upload-form" ng-submit="ctrl.enqueueTask()" class="form-group">
                <label id="browse-label" for="browse" class="btn btn-secondary" ng-class="{'btn-primary-outline': dragActive}">
                    {% trans 'Click here to browse files or drop some into this window' %}
                </label>
                <input id="browse" type="file" multiple model="files">
            </form>
            <table id="upload-table" class="table">
                <thead>
                    <tr>
                        <th class="state-icon-col"></th>
                        <th class="filename-col">{% trans 'Filename' %}</th>
                        <th></th>
                        <th class="speed-col"></th>
                        <th class="operations-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td class="text-xs-center" ng-class="file.$state|colorClass"><i class="fa fa-2 fa-[[ file.$state|iconClass ]]"></i></td>
                        <td class="filename">[[ file.name ]]</td>
                        <td>
                            <progress class="progress progress-info" value="[[ file.$progress|percentage ]]" max="100"></progress>
                        </td>
                        <td class="speed">[[ file.$speed|speed ]]</td>
                        <td>
                            <button ng-if="file.$state === 'waiting' || file.$state === 'uploading'" class="btn btn-secondary" ng-click="ctrl.cancel(file)">
                                <i class="fa fa-2 fa-times"></i>
                            </button>
                            <button ng-if="file.$state === 'canceled' || file.$state === 'uploaded'" class="btn btn-secondary" ng-click="ctrl.remove(file)">
                                <i class="fa fa-2 fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
