{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'rlsget/css/queue.css' %}">
    <script src="{% static 'rlsget/js/queue.js' %}"></script>
{% endblock %}

{% block ng-app %}rlscloud.rlsget.queue{% endblock %}

{% block content %}
    <div class="row" ng-controller="QueueList as ctrl" ng-cloak>
        <div class="col-lg-12">
            <form id="enqueue-form" ng-submit="ctrl.enqueueTask()" class="form-group">
                <input ng-model="url" class="form-control" placeholder="{% trans 'URL' %}">
            </form>
        </div>
        <div class="col-lg-12">
            <table id="queue-table" class="table">
                <thead class="thead-default">
                    <tr>
                        <th class="state-icon-col"></th>
                        <th class="name-col">{% trans 'Name' %}</th>
                        <th class="progress-col">{% trans 'Done' %}</th>
                        <th class="operations-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!tasks.length">
                        <td colspan="4" class="empty-queue-cell">{% trans 'The queue is empty' %}</td>
                    </tr>
                    <tr ng-repeat-start="task in tasks">
                        <td class="center" ng-class="task.state|colorClass"><i class="fa fa-2 fa-[[ task.state|iconClass ]]"></i></td>
                        <td>
                            <div ng-if="task.details">
                                <a ng-href="[[ task.details ]]">[[ task.name ]]</a>
                            </div>
                            <div ng-if="!task.details">
                                <span ng-if="!task.filename" class="unknown-name">{% trans 'Unknown release' %}</span>
                                <span ng-if="task.filename">[[ task.filename ]]</span>
                            </div>
                            <div class="url">
                                <a href="[[ task.url ]]" target="_blank">[[ task.url ]]</a>
                            </div>
                        </td>
                        <td>
                            <progress class="progress progress-info" value="[[ task.$progress|number ]]" max="100"></progress>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-secondary" ng-class="{'active': ctrl.isDetailsOpen(task)}" ng-click="ctrl.toggleDetails(task)">
                                    <i class="fa fa-2 fa-info"></i>
                                </button>
                                <button class="btn btn-secondary" ng-disabled="[[ !ctrl.isCancelable(task) ]]" ng-click="ctrl.cancel(task)">
                                    <i class="fa fa-2 fa-times"></i>
                                </button>
                                <button class="btn btn-secondary" ng-disabled="[[ !ctrl.isArchivable(task) ]]" ng-click="ctrl.archive(task)">
                                    <i class="fa fa-2 fa-archive"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="ctrl.isDetailsOpen(task)" class="details-row">
                        <td></td>
                        <td colspan="3">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>{% trans 'State:' %}</td>
                                        <td ng-if="!ctrl.hasError(task)">[[ task.state|stateString ]]</td>
                                        <td ng-if="ctrl.hasError(task)">
                                            <a href="[[ task.errors ]]">[[ task.state|stateString ]]</a>
                                        </td>
                                        <td>{% trans 'Requested by:' %}</td>
                                        <td>[[ task.requested_by ]]</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Created at:' %}</td>
                                        <td>[[ task.created_at|date:'yyyy-MM-dd HH:mm:ss' ]]</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Started at:' %}</td>
                                        <td>[[ task.started_at|date:'yyyy-MM-dd HH:mm:ss' ]]</td>
                                        <td>{% trans 'Queue wait:' %}</td>
                                        <td>[[ task.$wait|timedelta ]]</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Finished at:' %}</td>
                                        <td>[[ task.finished_at|date:'yyyy-MM-dd HH:mm:ss' ]]</td>
                                        <td>{% trans 'Runtime:' %}</td>
                                        <td>[[ task.$runtime|timedelta ]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
