{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'rlsget/css/queue.css' %}">
    <script src="{% static 'rlsget/js/queue.js' %}"></script>
{% endblock %}

{% block ng-app %}rlscloud.rlsget.queue{% endblock %}

{% block content %}
    <div class="row" ng-controller="QueueList as queueList">
        <div class="col-lg-12">
            <form id="enqueue-form" ng-submit="queueList.enqueueTask()" class="form-group">
                <input ng-model="url" class="form-control" placeholder="{% trans 'URL' %}">
            </form>
        </div>
        <div class="col-lg-12">
            <table id="queue-table" class="table">
                <thead class="thead-default">
                    <tr>
                        <th class="state-icon-col"></th>
                        <th class="name-col">{% trans 'Name' %}</th>
                        <th class="progress-col">{% trans 'Done' %}</th>
                        <th class="operations-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!tasks.length">
                        <td colspan="4" class="empty-queue-cell">{% trans 'The queue is empty' %}</td>
                    </tr>
                    <tr ng-repeat-start="task in tasks">
                        <td class="center" ng-class="task.state|colorClass"><i class="fa fa-2 fa-[[ task.state|iconClass ]]"></i></td>
                        <td>
                            <div class="filename">
                                <span class="unknown-name" ng-if="!task.filename">{% trans 'Unknown release' %}</span>[[ task.filename ]]</div>
                            <div class="url">
                                <a href="[[ task.url ]]" target="_blank">[[ task.url ]]</a>
                            </div>
                        </td>
                        <td>
                            <progress class="progress progress-info" value="[[ task.$progress|number ]]" max="100"></progress>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-secondary" ng-class="{'active': queueList.isDetailsOpen(task)}" ng-click="queueList.toggleDetails(task)"><i class="fa fa-2 fa-info"></i></button>
                                <button class="btn btn-secondary"><i class="fa fa-2 fa-times"></i></button>
                                <button class="btn btn-secondary"><i class="fa fa-2 fa-archive"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="queueList.isDetailsOpen(task)" class="details-row">
                        <td></td>
                        <td colspan="3">
                            <div>
                                <span>{% trans 'Created at:' %} [[ task.created_at|date:'yyyy-MM-dd HH:mm:ss' ]]</span>
                                <span>{% trans 'ID:' %} [[ task.id ]]</span>
                            </div>
                            <div>
                                <span>{% trans 'State:' %} [[ task.state|stateString ]]</span>
                            </div>
                            <div>
                                <span>{% trans 'Download time:' %} [[ task.elapsed ]]</span>
                                <span>{% trans 'Downloaded bytes:' %} [[ task.downloaded ]]/[[ task.total ]] ([[ task.$progress|percentage ]])</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
