thead th {
    text-align: center
}

.fa-2 {
    font-size: 1.2em
}

.signin {
    text-align: center
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto
}

.navbar {
    margin-bottom: 24px
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-lg-resp {
    width: 90%
}

.modal-header h3 {
    margin-bottom: 0;
}